{% extends 'base.html' %}

{% block content %}
    <div class="container m-56">
        <form method="post" action="{% url 'start_encoding'  %}">
            {% csrf_token %}
            <select name="settings" class="bg-blue-300 ">
                {% for i in obj_settings %}
                <option value="{{i.id}}" >{{i}}</option>
                {% endfor %}
            </select>
            <input name />
                <Button>Star Encoding</Button>
        </form>
    </div>
    
    
{% endblock %}